.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.mainContent {
  flex: 1;
  display: flex;
}

.menuBar {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-items: flex-start;
}

.navLink {
  text-align: center;
  padding: 20px;
  text-decoration: none;
  color: black;
}

.navLink:hover {
  text-decoration: underline;
}

.name {
  text-decoration: none;
  color: black;
  font-family: 'Permanent Marker';
  font-size: 50px;
  transform: rotate(-25deg);
  text-align: center;
  line-height: 1;
  padding: 20px;
  margin-bottom: 20px;
}

.activeNavLink {
  color: purple;
}

.footer {
  /*background-color: grey;*/
  display: flex;
  align-items: center;
  justify-content: center;
  /*margin-top: 20px;*/
  padding: 20px;
}

.footerItem {
  padding: 20px;
  font-family: sans-serif;
  color: #ababab;
  text-decoration: none;
}

.footerItem:hover {
  text-decoration: underline;;
}
