.galleryWrap{
  padding: 10px;
  max-width: 935px;
  flex: 1;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
}

.gallery {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 100%;
  flex-direction: row;
}

.imageWrapper {
  /*flex: 1 0 32%;*/
  overflow: hidden;
  width: 32%;
  position: relative;
}

.imageWrapper::before {
  padding-top: 100%;
  content: "";
  display: block;
}

.contentWrapper {
  position: absolute;
  height: 98%;
  width: 98%;
  padding: 1%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentWrapper:hover {
  /*height: 94%;*/
  /*width: 94%;*/
  /*padding: 3%;*/
  cursor: pointer;
}

.contentWrapper:active {
  height: 94%;
  width: 94%;
  padding: 3%;
  cursor: pointer;
}

.image {
  object-fit: contain;
  overflow: hidden;
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  background-color: rgba(255,255,255,0.4);
}
