.app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  background-color: #E4C7CA;
}

.insideQuery {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  background-color: #E4C7CA;
}

.mainContent {
  flex: 1;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  align-items: stretch;
}

.menuBar {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-items: flex-start;
}

.navLink {
  text-align: center;
  padding: 20px;
  text-decoration: none;
  color: #2E392C;
  font-family: 'Concert One';
  font-size: 16px;
}

.navLink:hover {
  text-decoration: underline;
}

.name {
  text-decoration: none;
  color: #2E392C;
  font-family: 'Permanent Marker';
  font-size: 50px;
  transform: rotate(-25deg);
  text-align: center;
  line-height: 1;
  padding: 20px;
  margin-bottom: 20px;
}

.phoneNav {
  font-size: 25px;
  padding-left: 10px;
  margin-bottom: 0px;
}

.activeNavLink {
  color: #9396BA;
}

.footer {
  background-color: rgba(128, 128, 128, 0.07);
  display: flex;
  align-items: center;
  justify-content: center;
  /*margin-top: 20px;*/
  padding: 5px;
}

.footerItem {
  padding: 20px;
  font-family: sans-serif;
  color: #ababab;
  text-decoration: none;
}

.footerItem:hover {
  text-decoration: underline;
}

.fadeIn-appear {
  background-color: #E4C7CA;
  opacity: 0.01;
}

.fadeIn-appear.fadeIn-appear-active {
  opacity: 1;
  transition: opacity .7s ease-in;
}

.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0;
}
