.blog {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/*DESKTOP SCREENS*/

.post {
  width: 700px;
}

.postHeader {
  flex-direction: row;
  display: flex;
  align-items: baseline;
  border-bottom: 1px solid #757575;
  justify-content: space-between;
}

.postBody {
  font-family: 'Open Sans';
  font-size: 20px;
}

h1 {
  font-family: 'Signika';
  font-size: 40px;
  margin-bottom: 5px;
}

.postBody h2 {
  font-family: 'Cabin';
  font-size: 30px;
  margin-bottom: 5px;
  color: #757575;
}

.postDate {
  color: #757575;
  font-size: 16px;
}

/*SMALL SCREENS*/

.small .postHeader {
  flex-direction: column;
  
}

.small h1 {
  font-size: 30px;

}

.small .postBody h2 {
  font-size: 22px;
}

.small .postBody p {
  font-size: 16px;
}

.smallBlog {
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
}

[data-field="illustration"] {
  display: flex;
  justify-content: center;
}

[data-field="illustration"] img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  height: 100%;
}

[data-slicetype="image-with-caption"] {
  background-color: rgba(255,255,255,0.4);
  padding: 4%;
  margin: 4%;
}
